/* TODO Should probably use a grid */
/* Yeah, definitely should have used a grid... Live and learn, use grid even for small projects*/

.app > header {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}


.app > header > h1 {
    font-weight: bolder;
    font-size: 2rem;
    font-family: sans-serif;
}

.vs {
    float:left;
    margin-top: 220px;
}

.player-frame {
    flex: 1;

    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 3rem;

    border: 2px black solid;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.human-frame {
    max-width: fit-content;
}

.player-frame > header, .event-log > header {
    width: 100%;
    height: 3em;

    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.camera {
    width: fit-content;
    height: 960px;
    transform: scale(-1, 1);
}

.name {
    text-transform: capitalize;
    padding: .75rem;
}

.move {
    float: left;
    text-transform: capitalize;
    padding: .75rem;
}

.detection {
    float: left;
    text-transform: capitalize;
    padding: .75rem;
}

.score {
    float: right;
    padding: .75rem;
}


.event-log {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 12em;
}

.event-log > header {
    border-top: 1px inset #000;
    height: fit-content;
    border-bottom: 2px outset #FFF;
    padding-top: .5em;
    padding-bottom: .5em;
}

.event-log > ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.instructions {
    width: 100%;
    clear: both;
}

dialog {
    width:fit-content;
    height: fit-content;

    top: 256px; 

    padding: 1.5rem;

    font-size: 6rem;
    font-family: sans-serif;

    /* TODO doesn't work */
    transition: open 2s;
}

.center {
    display: flex;
    justify-content: center;
}

.robotImg {
    height: 960px;
    rotate: 270;
}


/* TODO
.player-haeder {
    display: grid;
} */